body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    padding-top: 0;
    font-size: 60px;
    color: #575757;
}

h2 {
    font-size: 45px;
    color:#707070;
}

.flex-container {
    margin-top: 8%;
    display: flex;
}

.half-width {
    width: 50%;
}

.flex-container img {
   width: 90%;
}

.flex-container p {
    font-size: 20px;
    color: rgb(66, 70, 73);
    margin-bottom: 80px
}

.fs-division {
    margin-left: 70px;
    text-align: left;
}

.flex-container span {
    color: orange;
}

.button {
    text-decoration: none;
    font-size: 18px;
    background-image: linear-gradient(tomato, orange);
    padding: 20px 50px;
    border-radius: 40px;
    color: white;
}

.second-section {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.second-section p {
    font-size: 16px;
    line-height: 30px;
}

.second-section img {
    width: 60%;
    margin-left: 20%;
}

.ss-division {
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.third-section {
    margin-top: 40px;
}

.ts-division {
    text-align: center;
}

.ts-division h1 {
    margin-top: 0;
    font-size: 40px;
}

.food-menu {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.one-third-width {
    width: 33%;
    margin-left: 40px ;
    padding: 20px 0px 20px 20px;
    box-shadow:  1px 5px 20px black;
    border-radius: 30px;
}

.one-third-width img {
    width: 90%;
}

.one-third-width h1 {
    font-size: 30px;
    color: black;
}

.fourth-section {
    display: flex; 
    margin-top: 90px; 
    margin-left: 90px;
    margin-right: 90px;
    box-shadow:  1px 5px 10px black; 
    border-radius: 30px; 
}

.one-third {
    width: 33%;
    text-align: center; 
    padding: 20px 10px; 
    margin-left: 5%;
    margin-right: 5%;
}

.one-third h1 {
    color: black;
    margin-bottom: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-seri;
    font-size: 45px;
}

.fifth-section {
    margin-top: 50px;
    margin-left: %;
    margin-right: %;
    margin-bottom: 0;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ps-division {
    text-align: center;
    margin-top: 90px;
}

.ps-division h1 {
    margin-top: 0;
    font-size: 40px;
}

.fifth-section .flex-container {
    margin-left: 80px;
    margin-right: 80px;
    line-height: 20px;
    margin-top: 10px;
    padding: 30px 40px;
}

.fifth-section .flex-container p {
    color: rgb(67, 67, 70);
    margin-left: 40px;
    font-size: 16px;
}

.fifth-section .flex-container h2 {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.527);
}

.fifth-section h1 {
    font-size: 40px;
    color: black;
}

.sixth-section {
    background-image: url(images/shapes/Group\ 8450.png);
    background-repeat: no-repeat;
    background-size: inset;
    margin-top: 2px;
    margin-bottom: 5px;
}

.cs-division {
    text-align: center;
    margin-top: 90px;
    line-height: 10px;

}

.cs-division h1 {
    margin-top: 0;
    font-size: 40px;
}

.social-links {
    text-align: center;
    margin-top: 50px;
}

.social-links ul li  {
    display: inline-block;
    font-size: 20px;
    padding: 8px;
    
}

.social-links ul li a {
    text-decoration: none;
    color: white;
    background-color:grey;
    padding: 12px;
    border-radius: 20px;
}

footer {
    text-align: center;
    background-color: black;
}

footer h3 {
    color: rgb(66, 70, 73);
    font-size: 25px;
}

footer span {
    color: orange;
}

footer p {
    color: rgba(255, 255, 255, 0.87);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-seri;
    font-size: 15px;
}

.footer-division {
    margin-top: 40px;
    padding: 50px;
}


